// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #402c53;
  --ion-color-primary-rgb: 64, 44, 83;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #382749;
  --ion-color-primary-tint: #534164;

  --ion-color-secondary: #a93349;
  --ion-color-secondary-rgb: 169, 51, 73;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #952d40;
  --ion-color-secondary-tint: #b2475b;

  --surface: #fff7fc;
  --surface-soft: #f7eaf8;
  --text-primary: #201923;
  --text-secondary: #4a454d;
  
  --ion-background-color: #fff7fc;
  --ion-text-color: #201923;
}
